<div class="jumbotron">
  <h1>The Great Wall of Quotes</h1>
  <p>Enjoy the wisdom imparted by these great quotes</p>
</div>
<div class="container" id="quotes">
  <div class="quote" *ngFor="let q of quotes.quotes">
    <h2>
      <i class="blockquote">
      {{q.quote}}
      </i>
    </h2>
    <h6>
      <i class="blockquote-footer">
        {{q.author}}
    </i>
    </h6>
  </div>
</div>
<div class="container" id="new-quote">
  <form (ngSubmit)="postSomeWisdom(frm)" method="post" id="newQuotes" #frm="ngForm">
    <div class="form-row">
      <div class="col-xl-11">
        <input class="form-control" type="text" id="iquote" name="iquote" ngModel required placeholder="Type your quote and immortalize your wisdom here!">
        <input class="form-control" type="text" id="iauthor" name="iauthor" ngModel placeholder="Tell us who you are or leave this blank for an anonymous post ">
      </div>
      <div class="col-xl-1">
        <button class="btn btn-primary" id="gitrdone" type="submit" [disabled]="!frm.valid">Submit</button>
      </div>
    </div>
  </form>
</div>
<script src="/assets/js/jquery.min.js?h=1dd785e1de9a32e236b624ae268bb803"></script>
<script src="/assets/bootstrap/js/bootstrap.min.js?h=63715b63ee49d5fe4844c2ecae071373"></script>

